@import ../neat/neat
@import mixins

$sidebar-layout: (columns: 4, gutter: 10px)

.sidebar-layout
  +grid-container($sidebar-layout)

.sidebar-layout__sidebar
  +grid-column(1, $sidebar-layout)

.sidebar-layout__main
  +grid-column(3, $sidebar-layout)

table
  border: none
  border-spacing: 0
  height: 700px
  margin: auto
  max-width: 100%
  text-align: center
  width: 700px
  th
    height: 16px
  td
    border: solid white 1px
    background: #0c7cd5
    background-size: 129px
    width: 19.5%
    height: 19.5%
    &:first-child
      background: none
      font-weight: bold
      width: 2.5%
    img
      height: 90%
      width: 90%

.buttons
  text-align: center
  .btn
    @include button
    width: 100%
  .btn-blue
    @include button-color(#0c7cd5)
  .btn-green
    @include button-color(green)
  .btn-red
    @include button-color(darken(red,0.1%))
  .btn-yellow
    @include button-color(yellow)
